<form class="form-inline navbar-form pull-right" {{action "go" gamertag on="submit"}}>
  {{input class="form-control" type="text" placeholder="XBox Gamertag" value=gamertag}}
  <button class="btn btn-success-outline" type="submit">Go</button>
</form>