<nav class="navbar navbar-dark bg-inverse">
  {{#link-to 'index' class="navbar-brand"}}XBox Browser{{/link-to}}
  <button class="navbar-toggler hidden-sm-up pull-right" type="button" data-toggle="collapse" data-target="#main-nav">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-xs" id="main-nav">
  {{search-form redirect="redirectToRoute"}}
  </div>
</nav>

{{outlet}}
