<div class="container">
  <div class="jumbotron clearfix">
    <h1 class="display-1">Welcome</h1>
    <p class="lead">Welcome to XBox Browser</p>
    <hr class="m-y-sm">
    <p>To get started, enter a Gamer Tag in the box above.</p>
  </div>
</div>
